extends artLayout

block content
  h1 Artist Show Bank 
  br

  ul.list-group
    each show in shows
      li.list-group-item
        a(href='/showBill/'+show._id)= show.headliner + " " + show.hlLast

