extends layout

block content
  h1 Your Promoted Shows
  br
  p Only YOU have the ability to delete YOUR shows. Thinking about editing? Just promote another one!  Don't worry... We've got room for it.
  br
  ul.list-group
    each show in shows
      li.list-group-item
        a.btn.btn-outline-primary(href='/showBill/'+show._id)= show.headliner + " " + show.hlLast
        br
        | at...
        br
        h3= show.venueChoice
        br
        br
        br
        br
        a.btn.btn-outline-danger.btn.sml(role='button' href='/showBillDelete/'+show._id) Delete Show
