extends layout 

block content
  br
  h6 Welcome to ShowSpot!
  br
  .container.login-container
    .row

      h3 Promote 1-5 of your favorite artists in a show
      br
      .col-md-6.login-form-2
        form(method='POST' action='/promoteAshow')
          .form-group
            input.form-control(type='text' name='headliner' placeholder='Headliner First Name ' value='')
          .form-group
            input.form-control(type='text' name='hlLast' placeholder='Headliner Last Name ' value='')
          br
          .form-group
            input.form-control(type='text' name='almost' placeholder='Almost First Name' value='')
          .form-group
            input.form-control(type='text' name='alLast' placeholder='Almost Last Name' value='')
          br
          .form-group
            input.form-control(type='text' name='middle' placeholder='Middle First Name' value='')
          .form-group
            input.form-control(type='text' name='mdLast' placeholder='Middle Last Name' value='')
          br
          .form-group
            input.form-control(type='text' name='nextArt' placeholder='Next First Name' value='')
          .form-group
            input.form-control(type='text' name='naLast' placeholder='Next Last Name' value='')
          br
          .form-group
            input.form-control(type='text' name='opener' placeholder='Opener First Name' value='')
          .form-group
            input.form-control(type='text' name='opLast' placeholder='Opener Last Name' value='')
          br
          .form-group
            input.form-control(type='text' name='venueChoice' placeholder='Your Venue Choice *' value='')
          .form-group
            input.form-control(type='date' name='date' placeholder=' Your Chosen Date *' value='')
          br
          .form-group  
            input.btnSubmit(type='submit' value='Submit')