extends artLayout

block content
  each user in users
    br
    h6 Artist Name: 
    br
    h1= user.firstname
    h1= user.lastname
    br
    h6 Main Instrument: 
    br
    h1= user.maininstrument